@import "tailwindcss";

@theme {
  --color-background: hsl(0 0% 0%);
  --color-foreground: hsl(0 0% 5%);
  --color-bg-light: hsl(0 0% 10%);
  --color-text-primary: hsl(0 0% 90%);
  --color-text-muted: hsl(0 0% 70%);
  --color-primary: ;
  --color-primary-hover: ;
  --color-border: hsl(0 0% 20%);
  --color-success: ;
  --color-error: ;
}

body {
  background: var(--color-background);
}
